
/* Fonte Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /* Remover sublinhado dos links href */
    list-style: none;
    font-family: "Lato", sans-serif;
    background-color: #0d0d0d;
    color: white;
}

.navbar
{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;

}


.link
{
    display: flex;
    gap: 3rem;
}

.link a :hover
{
    color:blue;
    transition: 0.3s all;
}

.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    gap: 30px;
    font-weight: 500;
}

.projects
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    gap: 30px;
}

.footer
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 20px;

}

.footer a :hover
{
color: blue;
}