
/* Fonte Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /* Remover sublinhado dos links href */
    font-family: "Lato", sans-serif;
}

a:visited
{
    color: inherit;
}

a:link
{
    color: inherit;
}

.links
{
    color: white;
}

.navbar
{
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #0d0d0d;
    position: fixed;
}

.menu
{
    display: flex;
    gap: 3rem;
}

.menu a:hover
{
    text-decoration: underline;
}

.home
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    padding-right: 400px;
    gap: 30px;
    font-weight: 500;
    font-size: 40px;

    background-image: url(img/astquestcover.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-position-y: 10px;
    height: 80vh;
}

.about
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    gap: 30px;
    font-weight: 500;
    background-color: #0d0d0d;
    text-align: center;
}

.projects, .pressKit
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    gap: 30px;
    background-color: #0d0d0d;
    text-align: center;     
}

.projects p, .about p
{
    margin-left: 10%;
    margin-right: 10%;
}

.features
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    gap: 30px;
    background-color: #0d0d0d;
    text-align: left;     /* garante alinhamento à esquerda */
    margin-left: 20px;    /* recuo padrão */
    padding-left: 20px; 
}

.img
{
    width: 25%; /*320px;*/ 
    height: auto; /*180px;*/
    margin: 2px;
}

.moreInfo
{
    font-size: 18px;
    background-color: white;
    border: none;
    border-radius: 18px;
    width: 140px;
    height: 28px;
    cursor: pointer;
    color: black;
}

.wishlist
{
    font-size: 18px;
    background-color: white;
    border: none;
    outline: 2px solid white;
    border-radius: 18px;
    width: 180px;
    height: 28px;
    cursor: pointer;
    color: black;
}

.moreInfo:hover,  .wishlist:hover
{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.contact
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    gap: 30px;
    background-color: #0d0d0d;
}

.contact p
{
    text-decoration: underline;
}

.footerSec
{
    background-color: #000000;
}

.footer
{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 20px;
}

.footer a :hover
{
    text-decoration: underline;
}

html /* rolar suavemente pala página href */
{
    scroll-behavior: smooth;
}

h2 
{
    scroll-margin-top: 80px;
}

ul 
{
    list-style-type: disc; /* padrão: bolinha cheia */
    padding-left: 20px;    /* espaço para os pontos */
}

@media screen and (max-width: 720px)
{
   
}